<section ng-repeat="event in events | orderBy:'date' | filter:eventSearch" ng-show="computeShow(event, showEvents)">
		<div class="panel panel-default single-event">
			<div class="panel-heading">
        on {{event.date | date:'MM/dd/yyyy'}}
				<h3>
					<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#dialogTestDialog{{$index}}">{{event.title}}</button>
					<em class="pull-right">Created by user: {{event.username}}</em>
				</h3>
        <table class="tag-table">
          <tr>
              <td><strong>Tags: </strong></td>
              <td class="tag-td" ng-repeat="tag in event.tags">{{ tag.name }}</td>
          </tr> 
        </table>

			</div>
		</div>
    <!-- Modal -->
    <div id="dialogTestDialog{{$index}}" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">{{event.title}}<em class="pull-right">Created by {{event.username}}</em></h4>
          </div>
          <div class="modal-body scrollable-content">
            <div class="inside-modal-body">
              {{event.description}}
            </div>
            <div  class="inside-modal-body">
              day: {{event.date | date:'MM/dd/yyyy'}} at {{event.hour | date:'HH:MM'}} hours<br> 
              at: {{event.formatted_addres}}
            </div>
          </div>
          <div class="modal-footer">
            <table class="tag-table">
              <tr>
                  <td class="tag-td" ng-repeat="tag in event.tags" >{{ tag.name }}</td>
              </tr>
            </table>
            <%if user_signed_in?%>
              <a href="{{event.edit_url}}" class="btn btn-default" ng-show="<%= current_user.id %> == {{event.user_id}}">Edit</a>
            <%end%>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>
	</section>