<div class="content">
  <div class="panel panel-default sign-form">
    <div class="panel-heading">

<h1>Editing Event</h1>
</div>
    <div class="panel-body">
<%= render 'form' %>

<%= link_to 'Back', root_path, :class => "btn btn-success" %>
    </div>
  </div>
</div>
</div>
