/* appplied to all the web */

.container{
	display: flex;
	flex-direction: column;
  height: 100vh;
  width: 100vw;
  margin: 0; 
  padding: 0; 
}

/* applied to the header and its children */
.header{
  display:flex;
  flex-shrink: 0;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  border-bottom:1px solid #c8c8c8;
}

.title-logo{
	width: 300px;
	margin-left: 20px
}

.header-login{
  margin-right: 20px;
}

/* end of header styles */

/* this div holds the yield content */

.content{
  display: flex;
  flex-grow: 1;
  width: 100%;
  background-color: #EEE;
}

/* end of styles */

/* applied to the fix sidebar and its content */

.sidebar{
  background-color: whitesmoke;
  width: 180px;
  flex-shrink: 0;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  border-right:1px solid #c8c8c8;
}


.sidebar-inside{
  margin: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.up{}

.mid{}

.down{
  vertical-align: bottom;
}

.btn-success{
  border: 1px solid #000;
  border-color: #aaa #444 #444 #aaa;
  color: #000
}

.wide-btn{
  width: 140px;
}

.filter-date-input {
  width: 140px;
  border-radius: 5px;
  border: 1px solid #000;
  border-color: #aaa #444 #444 #aaa;
  background-color: #5CB85C;
  color: #666;
  text-align: center;
}

/* end of fix sidebar styles */

/* applied to the left toggle sidebar and its contents */

.events-left-bar{
  height: 87vh;
  padding-bottom : 40px;
  flex: 1;
  display:none;
  background-color: #CADFAA;
  border-right:3px solid #73AD21;
}

.ng-invalid.ng-dirty{
  border-color: #FA787E;
}

.ng-valid.ng-dirty{
  border-color: #78FA89;
}

/* end of left toggle sidebar styles */

/* Applied to the right toggle sidebar */

.events-right-bar{
  height: 87vh;
  padding-bottom : 40px;
  flex: 2;
  display:none;
  background-color: #CADFAA;
  border-left:3px solid #73AD21;
}

.search-field{
  margin: 40px 50px;
}

.filter-tag-input {
  width: 25vw;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #000;
  border-color: #aaa #444 #444 #aaa;
  background-color: whitesmoke;
  color: #666;
}

.filter-tag-input::-webkit-input-placeholder { 
  text-align: center;
}


.single-event{
  border:3px solid #73AD21;
  padding: 10px;
  margin: 10px 15px;
}

.scrollable-content {
  overflow: auto;
}

.tag-table {
  border-collapse: separate;
    border-spacing: 10px;
}

.tag-td{
    padding: 5px 15px;
    margin: 0px 5px;
    border-radius: 5px;
    background-color: lightblue;
}

/* end of right toggle sidebar styles */

/* applied to all the index.html content */
.display-content{
	display: flex;
	flex-direction: row;
	width: 100vw;
}
/* end of display-content style */

.index-content{
	height: 100vh;
	width: 100vw;
}

#map {
  flex: 2;
}

.modal-body{
  height: 60vh;
}

.clear{
  clear: both;
}

.footer{
	display: flex;
	flex-shrink: 0;
	height: 50px;
	align-content: center;
	align-items: center;
}

.center{
  margin: auto;
}

.sign-form{
  margin: auto;
  width: 60%;
  border:3px solid #73AD21;
  padding: 10px;
}

.index-form{
  margin: 30px 25px 20px 20px;
}

.modal-header {
    background: rgba(229, 255, 204, 0.6)!important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-modal-header{

}

.bottom-modal-header{
  margin-bottom: -18px;
}

.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inside-modal-body{
  margin: 25px 35px;
}

.modal-footer {
    background: rgba(229, 255, 204, 0.6)!important;
}

.modal-content{
  background-color: rgba(255,255,255, 0.8)!important;
}

.angular-google-map-container{
  height: 500px;
  width: 50vw;
}

.thumbnail {
    display: block;
    float: left;
}